# Jupyter
ipywidgets
ipykernel

# Deep learning
Keras
tensorboard
tensorflow

# General data science, machine learning libraries
numpy
pandas
scikit-learn
scipy
statsmodels

# Plotting/image analysis
matplotlib
Pillow
seaborn
plotly
